:root {
    --color-lightest: #F0F2F5;
    --color-midgray: #878787;
    --orange-color: #fa552b;
    --color-blue: #3858F6;
    --color-facebook: #3B5997;
    --color-github: #ED4141;
    --color-linkedin: #0077B5;
    --color-instagram: #C231A1;
    --secondary-font: "Red Hat Display", sans-serif;
}

body {
    font-family: var(--secondary-font);
}

.bg-lightest {
    background-color: var(--color-lightest);
}

.text-midgray {
    color: var(--color-midgray);
}

.fs-7 {
    font-size: 0.85rem;
}

.logo {
    width: 150px;
}

.menu-hv {
    position: relative;
    font-weight: 550;
    transition: all linear 0.4s;
}

.menu-hv::before {
    content: '';
    position: absolute;
    bottom: 3px;
    width: 0;
    left: 0;
    height: 3px;
    background-color: var(--color-blue);
    transition: all linear 0.4s;
}

.menu-hv:hover {
    color: var(--color-blue);
}

.menu-hv:hover::before {
    width: 100%;
}

.account {
    background-color: var(--color-lightest);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 37px;
    height: 37px;
    border-radius: 50%;
    color: #000;   
    transition: all ease 0.4s;
}

.account:hover {
    background-color: var(--color-blue);
    color: #fff;
}

.g-5 {
    gap: 5px;
}

.g-10 {
    gap: 10px;
}

.search-custom {
    background-color: var(--color-lightest);
    border-radius: 18px;
}

.search-custom input {
    border: none;
    background-color: var(--color-lightest);
    border-radius: 0 18px 18px 0;
}

.search-custom button {
    border-radius: 18px 0 0 18px;
}

.search-custom button:active {
    border: none;
    background-color: transparent;
}

.search-custom input:focus {
    background-color: var(--color-lightest);
    outline: none;
    box-shadow: none;
}

.h-600 {
    height: 600px;
}

.d-grid-2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
}

.ct-text {
    width: 90%;
    position: absolute;
    bottom: 25px;
    left: 50%;
    transform: translateX(-48%);
    z-index: 2;
}

.shadow-img::before {
    position: absolute;
    content: "";
    opacity: 0.6;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 300px;
    transition: all 0.5s;
    z-index: 1;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
    border-radius: 0 0 1rem 1rem;
}

.post-hv img {
    transition: all ease 0.5s;
}

.post-hv:hover img {
    transform: scale(1.1);
}

.ct-title {
    transition: text-decoration linear 0.4s;
}

.post-hv:hover .ct-title {
    text-decoration: underline;
}

.navbar-toggler:focus {
    box-shadow: none;
}

.ins, .fb, .gh, .lk {
    transition: all ease 0.4s;
}

.ins:hover {
    color: var(--color-instagram);
}

.fb:hover {
    color: var(--color-facebook);
}

.gh:hover {
    color: var(--color-github);
}

.lk:hover {
    color: var(--color-linkedin);
}

.slide-text-position {
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 10px;
}

.splide__slide {
    padding: 6px !important;
}

.splide__slide img {
    cursor: pointer;
    transition: all ease 0.5s;
}

.splide__slide img:hover {
    transform: scale(1.1);
}

.splide__arrow {
    display: none !important;
    width: 40px !important;
    height: 40px !important;
    background-color: transparent !important;
    border: 1px solid var(--color-midgray) !important;
    transition: all ease 0.5s;
}

.splide__arrow:hover {
    background-color: #fff !important;
    border: none !important;
}

.splide__arrow:hover svg {
    fill: var(--color-blue) !important;
}

#card-carousel:hover .splide__arrow {
    display: flex !important;
}

/* XL */
@media (max-width: 1200px) {
    .logo {
        width: 110px;
    }
}

/* LG */
@media (max-width: 992px) {
    .logo {
        width: 150px;
    }
}

/* SM */
@media (max-width: 576px) {
    .d-grid-2 {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .ct-title {
        font-size: 1.0rem !important;
    }

    .h-sm-300 {
        height: 300px;
    }
}