:root {
    --color-lightest: #F0F2F5;
    --color-midgray: #878787;
    --orange-color: #fa552b;
    --color-blue: #3858F6;
    --color-facebook: #3B5997;
    --color-github: #ED4141;
    --color-linkedin: #0077B5;
    --color-instagram: #C231A1;
    --color-twitter: #1BA1F2;
    --color-youtube: #ED4141;
    --color-pale-white: #FBFBFD;
    --secondary-font: "Red Hat Display", sans-serif;
}

body {
    font-family: var(--secondary-font);
}

.mouse-trail {
    margin-left: -15px;
    margin-top: -15px;
    width: 30px;
    height: 30px;
    border: 2px solid #CED0D4;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    z-index: 10000000;
    -webkit-transition: all 0.08s ease-out;
    transition: all 0.08s ease-out;
    position: fixed;
    left: 0;
    top: 0;
    pointer-events: none;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mouse-trail::before {
    content: '';
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 8px;
    width: 8px;
    border-radius: 50%;
    background-color: var(--color-blue);
}

.go-to-top {
    display: none;
    position: fixed;
    right: 30px;
    bottom: 50px;
    z-index: 999999;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: var(--color-blue);
    border: 1px solid var(--color-blue);
    transition: all ease 0.5s;
    animation: moveLeft 0.4s linear;
}

.go-to-top:hover {
    background-color: #fff;
}

.go-to-top:hover a {
    color: var(--color-blue) !important;
}

.bg-lightest {
    background-color: var(--color-lightest);
}

.bg-pale-white {
    background-color: var(--color-pale-white);
}

.text-midgray {
    color: var(--color-midgray);
}

.text-blue {
    color: var(--color-blue);
}

.fs-7 {
    font-size: 0.85rem;
}

.logo {
    width: 150px;
}

.header-fixed {
    width: 100%;
    position: fixed;
    top: -100px;
    z-index: 9999;
    animation: fadeInC 0.8s linear;
}

.menu-hv {
    position: relative;
    font-weight: 550;
    transition: all linear 0.4s;
}

.menu-hv::before {
    content: '';
    position: absolute;
    bottom: 3px;
    width: 0;
    left: 0;
    height: 3px;
    background-color: var(--color-blue);
    transition: all linear 0.4s;
}

.menu-hv:hover {
    color: var(--color-blue);
}

.menu-hv:hover::before {
    width: 100%;
}

.account {
    background-color: var(--color-lightest);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 37px;
    height: 37px;
    border-radius: 50%;
    color: #000;   
    transition: all ease 0.4s;
}

.account:hover {
    background-color: var(--color-blue);
    color: #fff;
}

.g-5 {
    gap: 5px;
}

.g-10 {
    gap: 10px;
}

.g-20 {
    gap: 20px;
}

.g-30 {
    gap: 30px;
}

.menu-child {
    padding: 0;
    position: absolute;
    z-index: 5;
    left: 0;
    right: auto;
    flex-direction: column;
    min-width: 200px;
    background-color: #fff;
    list-style: none;
    box-shadow: 0 0 8px #ccc;
    border-radius: 8px;
    display: none;
    animation: moveUp 0.5s ease;
}

.menu-far:hover .menu-child {
    display: flex;
}

.menu-child a {
    padding: 10px;
    display: block;
}

.search-custom {
    background-color: var(--color-lightest);
    border-radius: 18px;
}

.search-custom input {
    width: 87%;
    border: none;
    background-color: var(--color-lightest);
    border-radius: 0 18px 18px 0;
}

.search-custom button {
    border-radius: 18px 0 0 18px;
}

.search-custom button:active {
    border: none;
    background-color: transparent;
}

.search-custom input:focus {
    background-color: var(--color-lightest);
    outline: none;
    box-shadow: none;
}

.search-result {
    margin-top: 8px;
    width: 100%;
    left: 0;
    right: auto;
    min-width: 300px;
    box-shadow: 0 0 8px #ccc;
    background-color: #fff;
    border-radius: 6px;
    z-index: 10;
    display: none;
}

.search-result.active {
    display: flex;
}

.h-600 {
    height: 600px;
}

.d-grid-2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
}

.ct-text {
    width: 90%;
    position: absolute;
    bottom: 25px;
    left: 50%;
    transform: translateX(-48%);
    z-index: 2;
}

.post-large-img::before,
.shadow-img::before {
    position: absolute;
    content: "";
    opacity: 0.6;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 300px;
    transition: all 0.5s;
    z-index: 1;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
    border-radius: 0 0 1rem 1rem;
}

.post-hv img {
    transition: all ease 0.5s;
}

.post-hv:hover img {
    transform: scale(1.1);
}

.ct-title {
    transition: text-decoration linear 0.4s;
}

.post-large-item:hover .ct-title,
.post-hv:hover .ct-title {
    text-decoration: underline;
}

.navbar-toggler:focus {
    box-shadow: none;
}

.ins, .fb, .gh, .lk {
    transition: all ease 0.4s;
}

.ins:hover {
    color: var(--color-instagram);
}

.fb:hover {
    color: var(--color-facebook);
}

.gh:hover {
    color: var(--color-github);
}

.lk:hover {
    color: var(--color-linkedin);
}

.slide-text-position {
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 10px;
}

.splide__slide {
    padding: 6px !important;
}

.splide__slide img {
    cursor: pointer;
    transition: all ease 0.5s;
}

.splide__slide img:hover {
    transform: scale(1.1);
}

.splide__arrow {
    display: none !important;
    width: 40px !important;
    height: 40px !important;
    background-color: transparent !important;
    border: 1px solid var(--color-midgray) !important;
    transition: all ease 0.5s;
}

.splide__arrow:hover {
    background-color: #fff !important;
    border: none !important;
}

.splide__arrow:hover svg {
    fill: var(--color-blue) !important;
}

#card-carousel:hover .splide__arrow {
    display: flex !important;
}

.box-cricle-img {
    width: 250px;
    height: 250px;
}

.box-cricle-img img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
    transition: all ease 0.4s;
}

.featured-post-item {
    gap: 8px;
    transition: all ease 0.4s;
}

.featured-post-item:hover .box-cricle-img img {
    transform: scale(1.1);
}

.featured-post-item:hover .text-link {
    text-decoration: underline !important;
}

.text-line-3 {
    overflow: hidden;
    max-height: 6rem;
    -webkit-line-clamp: 3;
    display: box;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    white-space: normal;
}

.featured-post-item:hover {
    background-color: var(--color-lightest);
}

.author {
    position: relative;
}

.author::before {
    color: #000 !important;
}

.featured-post-item:hover .author {
    color: var(--color-blue);
}

.tab-item.active {
    border: none !important;
    box-shadow: 0px 5px 10px rgba(37, 47, 63, 0.1);
    background-color: #fff !important;
    color: var(--color-midgray) !important;
}

.tab-item:active {
    border: none !important;;
}

.post-img {
    position: relative;
    width: 100px;
    height: 100px;
    overflow: hidden;
}

.h-300 {
    height: 288px;
}

.post-list-img {
    height: 250px;
}

.gallery-ins-img,
.post-medium-img img,
.post-list-text>div,
.post-list-img img,
.post-large-img img,
.post-img img {
    transition: all ease 0.5s;
}

.post-medium-text,
.post-text {
    width: calc(100% - 100px);
}

.b-red::before,
.post-text span::before {
    color: var(--color-github) !important;
}

.post-medium:hover .post-medium-img img,
.post-list-view:hover .post-list-img img,
.post-large-item:hover img,
.post-item:hover .post-img img {
    transform: scale(1.1);
}

.post-medium:hover .post-medium-text>h6,
.post-list-view:hover .post-title,
.post-item:hover .post-title {
    text-decoration: underline !important;
}

.post-item:last-child {
    border: none !important;
}

.post-large-img {
    width: 100%;
    height: 650px;
    overflow: hidden;
}

.hover-fillip-item::before,
.hover-fillip-item::after {
    content: attr(data-text);
    width: 100%;
    min-width: 100px;
    position: absolute;
    left: 0;
    transition: all ease 0.4s;
    color: var(--color-blue);
    bottom: 0;
}

.post-text span {
    padding: 5px 0;
}

.hover-fillip-item {
    color: transparent !important;
    cursor: pointer;
}

.hover-fillip-item::before {
    color: #fff;
}

.hover-fillip-item::after {
    opacity: 0;
    transform: translateY(15px);
    color: var(--color-blue);
}

.hover-fillip-item:hover::before {
    transform: translateY(-15px);
    opacity: 0;
}

.hover-fillip-item:hover::after {
    transform: translateY(0);
    opacity: 1;
}

.social-share a {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    width: 35px;
    background-color: var(--color-lightest);
    border-radius: 50%;
    text-decoration: none;
    transition: all ease 0.4s;
}

.social-share a:hover {
    background-color: var(--color-blue);
    color: #fff !important;
}

.post-list-view:hover .post-list-text>div {
    box-shadow: 0px 5px 13px rgba(37, 47, 63, 0.1);
}

.post-medium-img {
    width: 100px;
    height: 100px;
}

.fb-2, .tw-2, .lk-2, .gh-2, .ins-2, .yt-2 {
    width: 45px !important;
    height: 45px !important;
    transition: all ease 0.5s;
}

.fb-2:hover {
    color: #fff !important;
    background-color: var(--color-facebook) !important;
}

.tw-2:hover {
    color: #fff !important;
    background-color: var(--color-twitter) !important;
}

.lk-2:hover {
    color: #fff !important;
    background-color: var(--color-linkedin) !important;
}

.gh-2:hover {
    color: #fff !important;
    background-color: var(--color-github) !important;
}

.ins-2:hover {
    color: #fff !important;
    background-color: var(--color-instagram) !important;
}

.yt-2:hover {
    color: #fff !important;
    background-color: var(--color-youtube) !important;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.gallery-ins {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 20px;
}

.gallery-ins-img:hover {
    opacity: 0.8;
}

.gallery-ins-img:hover .ins-item {
    transform: translate(-50%, -50%) scale(1);
}

.ins-item {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--color-lightest);
    color: #000;
    transition: all ease 0.4s;
}

.social>li {
    width: 150px;
}

.social {
    overflow-x: auto;
}

.social::-webkit-scrollbar {
    display: none;
}

.ct-title, 
.post-title,
.post-medium-text>h6 {
    overflow: hidden;
    max-height: 4rem;
    -webkit-line-clamp: 2;
    display: box;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    white-space: normal;
}

.d-grid-10 {
    display: grid;
    grid-template-columns: repeat(7, auto);
    gap: 15px;
}

.subcat>div>a {
    display: block;
    padding: 8px 5px;
    border-radius: 25px;
    text-align: center;
}

.new-post-img {
    height: 87%;
}

.link-back-home:hover span {
    text-decoration: underline !important;
}

.new-post .hover-fillip-item::before {
    color: #000;
}

.form-inp:focus {
    box-shadow: none;
}

.btn-lightest {
    background-color: #dfdfdf;
}

.btn-lightest:hover {
    background-color: #e7e7e7;
}

.mh-100 {
    height: 100%;
    min-height: 100vh;
}

.cursor-pointer {
    cursor: pointer;
}

.cursor-pointer:hover {
    color: var(--color-blue);
}

.btn-comment {
    max-width: 250px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 20px;
    background-color: var(--color-blue);
    color: #fff;
    border: 2px solid var(--color-blue);
    border-radius: 28px;
    cursor: pointer;
    transition: all ease 0.5s;
}

.btn-comment:hover {
    background-color: #fff;
    color: var(--color-blue);
}

.post-content img {
    width: 100%;
    border-radius: 1rem;
}

#emoji-picker,
.emoji-picker {
    display: none; 
    position: absolute;
    right: 0;
    z-index: 1000;
}

#emoji-button,
.emoji-button {
    cursor: pointer;
    position: absolute;
    top: 10%;
    right: 10px;
}

.form-comment {
    width: 100%;
    height: 80px;
}

.form-comment textarea {
    width: 100%;
    height: 100%;
    transition: all ease 0.4s;
}

.form-comment textarea:focus {
    box-shadow: none;
    border: 1px solid var(--color-blue);
}

.form-comment button {
    border: none;
    color: var(--color-blue);
    background-color: transparent;
    font-size: 1.2rem;
    position: absolute;
    right: 10px;
    bottom: 10%;
}

.form-comment button:disabled {
    opacity: 0.7;
}

.three-dot {
    position: absolute;
    top: 50%;
    right: 10px;
    cursor: pointer;
}

.aside-shadow {
    box-shadow: 0 0 10px #ccc;
    border-radius: 8px;
}

.img-avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.rp-task {
    width: 150px;
}

.box-purple {
    background-color: rgb(222, 206, 255);
    color: rgb(140, 87, 255);
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
}

.nav-pills-2 .nav-link.active,
.btn-purple {
    background-color: rgb(140, 87, 255) !important;
    color: #fff !important;
    transition: all ease 0.4s;
}

.nav-pills-2 .nav-link {
    color: #000;
}

.nav-pills-2 .nav-link:hover {
    background-color: rgb(222, 206, 255);
    color: rgb(140, 87, 255);
}

.btn-purple:hover {
    background-color: rgb(102, 68, 173) !important;
    color: #fff !important;
}

.form-check, .form-group {
    margin-bottom: 0;
    padding: 10px;
}

.has-error .form-control {
    border-color: #f25961 !important;
    color: #f25961 !important;
}

.active>.page-link, .page-link.active {
    color: #fff !important;
    background-color: rgb(140, 87, 255) !important;
    border-color: rgb(140, 87, 255) !important;
}

.page-link {
    color: rgb(140, 87, 255) !important;
}

.page-link:focus {
    box-shadow: none;
}


.badge {
    border-radius: 5px;
    margin-left: auto;
    line-height: 1;
    padding: 4px 7px;
    vertical-align: middle;
    font-weight: 400;
    font-size: 11px;
    border: 1px solid #ddd;
    height: fit-content!important
}

[class*=badge-]:not(.badge-count) {
    border: 0!important
}

.badge-count {
    color: inherit!important
}

.badge-black {
    background: #1a2035;
    color: #fff!important
}

.badge-primary {
    background: #1572e8
}

.badge-secondary {
    background: #6861ce
}

.badge-info {
    background: #48abf7
}

.badge-success {
    background-color: #31ce36
}

.badge-warning {
    background: #ffad46
}

.badge-danger {
    background-color: #f25961
}

@keyframes moveUp {
    from {
        opacity: 0;
        transform: translateY(40px);
    }to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeInC {
    from {
        opacity: 0;
        transform: translateY(-40px);
    }to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes moveLeft {
    from {
        transform: translateX(30px);
        opacity: 0;
    }to {
        transform: translateX(0);
        opacity: 1;
    }
}

/* XL */
@media (max-width: 1200px) {
    .logo {
        width: 110px;
    }

    .box-cricle-img {
        width: 200px;
        height: 200px;
    }
}

/* LG */
@media (max-width: 992px) {
    .logo {
        width: 150px;
    }

    .d-grid-lg-2 {
        grid-template-columns: repeat(1, 1fr);
    }

    .box-cricle-img {
        width: 250px;
        height: 250px;
    }

    .d-grid-10 {
        overflow: auto;
        white-space: nowrap;
    }

    .subcat>div>a {
        padding: 8px 20px;
    }
}

@media (max-width: 768px) {
    .box-cricle-img {
        width: 250px;
        height: 250px;
    }

    .post-large-img {
        height: auto;
    }

    .post-large-img::before, .shadow-img::before {
        height: 100%;
    }

    .gallery-ins {
        grid-template-columns: repeat(3, 1fr);
    }
}

/* SM */
@media (max-width: 576px) {
    .d-grid-2 {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .ct-title {
        font-size: 1.0rem !important;
    }

    .h-600 {
        height: auto;
    }

    .h-sm-300 {
        height: 300px;
    }

    .box-cricle-img {
        width: 180px;
        height: 180px;
    }

    .rounded-top-sm-4 {
        border-radius: 1rem 1rem 0 0 !important;
    }

    .rounded-bottom-sm-4 {
        border-radius: 0 0 1rem 1rem !important;
    }

    .gallery-ins {
        grid-template-columns: repeat(2, 1fr);
    }
}